%Shadow_Padding{
    padding: 20px;
            box-shadow:4px 3px 80px -27px rgba(98, 98, 98, 0.73);
                -webkit-box-shadow: 4px 3px 80px -27px rgba(91, 91, 91, 0.73);
                -moz-box-shadow: 4px 3px 80px -27px rgba(96, 96, 96, 0.73);
}
.doctor {
    flex: 4;
    padding: 20px;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .addDoctor{
            border : none;
            width: 80px;
            padding: 5px;
            background-color: teal;
            border-radius: 5px;
            cursor: pointer;
            color: #fff;
            font-size: 16px;
        }
    }
    .doctorContainer{
        display: flex;
        margin-top: 20px;
        .display{
            flex: 1;
            @extend %Shadow_Padding;
            .Top{
                display: flex;
                align-items: center;
                .doctorImg{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .doctorTopTitle{
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    .doctorName{
                        font-weight: 600;
                    }
                    .doctorTitle{
                        font-weight: 300;
                    }
                }
            }
            .doctorBottom{
                margin-top: 20px;
                .account{
                    font-size: 14px;
                    font-weight: 600;
                    color: rgb(175, 170, 170);
                }
                .doctorInfo{
                        display: flex;
                        align-items: center;
                        margin: 20px 0px;
                        color : #444;
                    .Icon{
                        font-size: 16px !important;
                    }
                    .InfoTitle{
                        margin-left: 10px;
                    }
                    
                }
                }
            }
        }
        .update{
            flex: 2;
            @extend %Shadow_Padding;
            margin-left: 20px;
            .UpdateTitle{
                font-size: 24px;
                font-weight: 600;
            }
            .UpdateFomr{
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                .Updateleft{
                    .UpdateItem{
                        display: flex;
                        flex-direction: column;
                        margin-top: 10px;
                        label{
                            margin-bottom: 5px;
                            font-size: 14px;
                        }
                        input{
                            border: none;
                            width: 250px;
                            height: 30px;
                            border-bottom: 1px solid gray;
                            outline: none;
                        }
                    }
                }
                .Updateright{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .Upload{
                        display: flex;
                        align-items: center;
                        .img{
                            width: 100px;
                            height: 100px;
                            border-radius: 10px;
                            object-fit: cover;
                            margin-right: 20px;
                        }
                        .icon{
                            cursor: pointer;
                        }
                    }
                    .btnUpdate{
                        border-radius: 5px ;
                        border: none;
                        padding: 5px;
                        cursor: pointer;
                        background-color: darkblue ;
                        color: rgb(255, 255, 255);
                        font-weight: 600;
                    }
                }
            }
        }
    }
