.chart{
    margin: 20px;
    padding: 20px;
    box-shadow: 4px 3px 80px -27px rgba(98, 98, 98, 0.73);
    -webkit-box-shadow: 4px 3px 80px -27px rgba(91, 91, 91, 0.73);
    -moz-box-shadow: 4px 3px 80px -27px rgba(96, 96, 96, 0.73);
    .title{
        margin-bottom: 20px;
    }
    .Graph{
        height: 100%;
    }
}